@charset "UTF-8";
@font-face {
  font-family: "PlayfairDisplay-Bold";
  font-style: normal;
  src: local("PlayfairDisplay Bold"), local("PlayfairDisplay-Bold"), url("../fonts/playfair-display/PlayfairDisplay-Bold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "PlayfairDisplay-Italic";
  font-style: normal;
  src: local("PlayfairDisplay Italic"), local("PlayfairDisplay-Italic"), url("../fonts/playfair-display/PlayfairDisplay-Italic.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "PlayfairDisplay-Regular";
  font-style: normal;
  src: local("PlayfairDisplay Regular"), local("PlayfairDisplay-Regular"), url("../fonts/playfair-display/PlayfairDisplay-Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/roboto/Roboto-Regular.ttf") format("TrueType");
  font-display: swap;
}
body {
  background-image: url("../img/bg-belle-ile.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "PlayfairDisplay-Regular", serif;
  background-color: #16a085;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

ul li::before {
  content: "•";
  color: #c0392b;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ol {
  counter-reset: item;
}

ol li {
  display: block;
}

ol li:before {
  content: counter(item) ". ";
  font-weight: bold;
  counter-increment: item;
  color: #c0392b;
}

.info-pic {
  height: 100%;
  max-width: 650px;
  object-fit: cover;
}

button,
#submit {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  outline: 0;
  padding: 0;
  cursor: pointer;
}

input[type=checkbox] {
  accent-color: #c0392b;
  width: 22px;
  height: 22px;
  border: 1px solid #16a085;
  border-radius: 2px;
  border-radius: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #ffffff;
  position: relative;
}
input[type=checkbox]:checked::before {
  content: "✓";
  font-size: 16px;
  position: absolute;
  top: -1px;
  left: 2px;
  color: #1abc9c;
}

.day {
  display: flex;
  column-gap: 2px;
  align-items: center;
}

form {
  margin: 2rem 0;
}
form fieldset {
  border: none;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
@media (max-width: 599px) {
  form fieldset {
    flex-direction: column;
    row-gap: 0.5rem;
  }
}
form label {
  cursor: pointer;
}
form input[type=text] {
  height: 25px;
  outline: none;
}
form input[type=text]:focus {
  border: 2px solid #16a085;
  color: #000000;
}

#submit {
  background-color: #2980b9;
  color: #ffffff;
  padding: 7px 30px;
  width: 160px;
  height: 32px;
  border-radius: 3px;
}
@media (max-width: 599px) {
  #submit {
    width: 55%;
  }
}
#submit:hover {
  background-color: #16a085;
}

.response {
  margin: 5rem 0 1rem;
  color: #ffffff;
}

.header-response {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-response .btn-back {
  font-size: clamp(1.5rem, 1.1053rem + 1.2632vw, 3rem);
  color: #ffffff;
  transition-duration: 300ms;
}
.header-response .btn-back:hover {
  color: #c0392b;
}
.header-response .fa-arrow-left {
  font-size: clamp(1.5rem, 1.1053rem + 1.2632vw, 3rem);
  color: #c0392b;
  margin-right: 1rem;
}

p {
  line-height: 25px;
  margin-bottom: 10px;
}

a {
  outline: 0;
  color: #16a085;
}
a:hover, a:focus-visible {
  color: #c0392b;
}
a:focus-visible {
  outline: 2px dotted #000000;
  outline-offset: 3px;
}

h1 {
  margin: 0;
  font-size: clamp(1.5rem, -1.7338rem + 8.6379vw, 3.125rem);
}

h2 {
  font-size: 2rem;
  color: #c0392b;
  margin-top: 0;
  margin-bottom: 2rem;
}
@media (max-width: 599px) {
  h2 {
    margin-bottom: 0;
  }
}

h3 {
  font-size: 1.5rem;
}

hr {
  height: 1px;
  background-color: transparent;
  border: none;
  border-top: 1px solid #bdc3c7;
}

.red {
  color: #c0392b;
}

header {
  min-width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.birth-title {
  display: flex;
  justify-content: center;
}
@media (max-width: 599px) {
  .birth-title {
    flex-direction: column;
    align-items: center;
  }
}

.birthday {
  color: #ecf0f1;
  text-shadow: 1px 1px 1px #16a085;
  padding: 0 2rem;
  border-radius: 10px;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 1rem;
}

#display-countdown {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 165px;
  width: 50%;
  margin: 0 auto 1rem;
  padding: 2rem;
  background-color: #16a085;
  text-align: center;
  font-size: clamp(2rem, 1.3793rem + 2.7586vw, 5rem);
  color: #ffffff;
  border-radius: 10px;
  text-shadow: 1px 1px 1px #2980b9;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}
@media (max-width: 599px) {
  .container {
    width: 98%;
    margin: 5% auto;
  }
}
@media (min-width: 600px) {
  .container {
    padding: 3%;
  }
}

nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 599px) {
  nav {
    width: 100%;
  }
}
nav .nav-item {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  align-items: center;
  cursor: pointer;
}
nav .nav-item .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  border-radius: 70%;
  cursor: pointer;
  color: #16a085;
  font-size: clamp(1.5rem, 1.4059rem + 0.396vw, 2rem);
}
nav .nav-item .icon.active {
  color: #c0392b;
}
@media (max-width: 599px) {
  nav .nav-item .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
nav .nav-item:hover .icon {
  color: #c0392b;
}
nav .nav-item:hover .nav-item_text {
  color: #c0392b;
}
nav .nav-item_text {
  font-family: "Roboto-Regular", sans-serif;
  font-size: clamp(1rem, 0.6674rem + 0.8884vw, 2rem);
  color: #ffffff;
  transition-duration: 300ms;
}
nav .nav-item_text.active {
  color: #c0392b;
}

.content {
  position: absolute;
  width: 90%;
  min-width: 270px;
  min-height: 500px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5%;
  margin-bottom: 20px;
}
.content figure {
  margin: 0 1rem 10px 0;
  float: left;
}
.content figure img {
  border-radius: 5px;
}
@media (max-width: 899px) {
  .content figure {
    margin: 0;
    float: none;
  }
}

.content-header {
  display: flex;
  justify-content: space-between;
}
.content-header .fa-xmark {
  font-size: 2rem;
  height: 30px;
  color: #1abc9c;
  cursor: pointer;
  transition-duration: 300ms;
  transform-origin: center;
}
@media (max-width: 599px) {
  .content-header .fa-xmark {
    font-size: 1.5rem;
  }
}
.content-header .fa-xmark:hover {
  color: #c0392b;
  transform: rotate(225deg);
}

blockquote {
  background-color: #ecf0f1;
  border-left: 10px solid #bdc3c7;
  margin: 1em 10px;
  padding: 0 10px 0.5rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: clamp(1.1rem, 1.0718rem + 0.1188vw, 1.25rem);
  min-width: 190px;
  display: flow-root;
}
@media (max-width: 599px) {
  blockquote {
    border-left: 6px solid #bdc3c7;
    margin: 1.2em 0;
  }
}

.hide {
  visibility: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.show {
  visibility: visible;
}

.fa-quote-left {
  font-size: 2rem;
  color: #16a085;
  margin-right: 10px;
}

table {
  table-layout: fixed;
  width: 33%;
}
@media (max-width: 599px) {
  table {
    width: 100%;
  }
}
table thead th {
  background-color: #16a085;
  padding: 5px;
  color: #ffffff;
}
table tr:nth-child(1) td {
  border-bottom: 1px solid #1abc9c;
}
table td + td {
  border-left: 1px solid #1abc9c;
}
table td {
  text-align: center;
}

table + p {
  font-size: 0.8rem;
}/*# sourceMappingURL=style.css.map */